[settings]
# migrate to another site?
# Set to True if you want to repost entries, False if not.
migrate: True
# generate html for each entry? True or False
generate-html: True
migrate-community-posts-by-others: 0

[source]
# The host of the journal you're backing up.
server: http://livejournal.com
# Your user name.
user: myusername
# Your password. Will not be sent in the clear; this tool uses the challenge
# response authentication mechanism.
password: mypassword
# communities:

[destination]
server: http://insanejournal.com
user: myotheruser
password: myotherpassword
# communities:

# [nuke]
# option section for the nuclear option; see README for details
# server: http://insanejournal.com
# user: myotheruser
# password: myotherpassword
