[settings]
# migrate to another site?
# Set to True if you want to repost entries, False if not.
migrate: True
# You can restrict migration to just the entries that have one of the following
# tags. Use commas to separate tags in the list. Comment this out if you want
# to migrate everything.
migrate-these-tags: example 1, example tag 2, third tag I want to copy
# generate html for each entry? True or False
generate-html: True
# If you're migrating a community, do you want to grab your own posts or everybody's?
migrate-community-posts-by-others: False

[proxy]
# This section is optional. Use it if you use a proxy to do your web browsing.
# Leave it commented out if you don't.
#host: localhost
#port: 8000

[source]
# The host of the journal you're backing up.
server: www.livejournal.com
# Your user name.
user: myusername
# Your password. Will not be sent in the clear; this tool uses the challenge
# response authentication mechanism.
password: mypassword
# communities: sourcecomm1 sourcecomm2

[destination]
# Where you're migrating to, if you are. You can omit this section or leave
# it commented out if you're not copying your journal to another site.
server: insanejournal.com
user: myotheruser
password: myotherpassword
# communities: destcomm1 destcomm2

# [nuke]
# option section for the nuclear option; see README for details
# server: https://insanejournal.com
# user: myotheruser
# password: myotherpassword
# community: comm_to_nuke (optional)
