[settings]
# migrate to another site?
# Set to True if you want to repost entries, False if not.
migrate: True or False
# back up user pics / icons?
# Set to True if you want to back up your userpics, False if not.
userpics: True or False

[source]
# The host of the journal you're backing up.
server: http://livejournal.com
# Your user name.
user: myusername
# Your password. Will not be sent in the clear; this tool uses the challenge
# response authentication mechanism.
password: mypassword

[destination]
server: http://insanejournal.com
user: myotheruser
password: myotherpassword

